.social {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  padding-bottom: 27px;
  border-bottom: 1px solid #e5e5e5;
  list-style: none;
}

.social > li {
  margin: 0 20px;
}

.social__link {
  &:hover > svg,
  &:focus > svg {
    fill: #46c1ae;
  }

  &:active > svg {
    fill: rgba(70, 193, 174, 0.3);
  }
}

.social__link--insta > svg {
  width: 22px;
  height: 21px;
}

.social__link--fb > svg {
  width: 15px;
  height: 28px;
}

.social__link--twitter > svg {
  width: 23px;
  height: 20px;
}

@media (min-width: 768px) {
  .social {
    width: 18.61%;
    padding: 0;
    border-bottom: none;
  }
}

@media (min-width: 1250px) {
  .social {
    width: 12%;
  }
}
