.page-header__title {
  @include row-flex();
  @include wrapper();

  align-items: center;
  justify-content: center;
  height: 175px;
  margin: 0;
  font-family: "Open Sans";
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  background-color: #f1f1f1;
}

.page-header__hero {
  margin-top: 35px;
}

.page-header__hero {
  margin-top: 45px;
}

@media (min-width: 768px) {
  .page-header__title {
    position: relative;
    top: -60px;
    height: 240px;
    margin-bottom: -20px;
    z-index: 1;
    font-size: 43px;
    line-height: 50px;

    &::after {
      position: absolute;
      content: "";
      right: -1px;
      bottom: -1px;
      left: 0;
      height: 25px;
      background-image: url("../img/white-line.svg");
      background-repeat: no-repeat;
    }
  }
}

@media (min-width: 1250px) {
  .page-header__wrapper {
    max-width: 1250px;
    margin-right: auto;
    margin-left: auto;
  }

  .page-header__title {
    top: -70px;
    height: 272px;
    font-size: 53px;
    line-height: 57px;

    &::after {
      height: 35px;
    }
  }
}
