.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  padding-top: 32px;
  padding-right: 30px;
  padding-bottom: 45px;
  padding-left: 30px;
  border: 1px solid #c6c6c6;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  z-index: 3;
}

.modal__title {
  font-family: "Open Sans";
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

.modal__text {
  margin: 0;
  margin-top: 15px;
  font-family: "Open Sans";
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}

.modal__size-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 28px;
  padding: 0;
  list-style: none;
}

.modal__size-list a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 54px;
  border: 2px solid rgba(68, 68, 68, 0.1);
  font-family: "Open Sans";
  font-size: 17px;
  font-weight: 700;
  text-decoration: none;
  color: #444444;

  &:hover {
    border-color: rgba(68, 68, 68, 0.3);
  }

  &:active {
    border-color: #62d1ba;
  }
}

.modal__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 52px;
  margin-top: 30px;
  padding: 0;
  border: none;
  font-family: "Open Sans";
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #63d1bb;
  cursor: pointer;

  &:hover {
    opacity: 0.3;
  }

  &:active {
    opacity: 0.1;
  }
}

@media (min-width: 768px) {
  .modal {
    width: 564px;
    padding-top: 45px;
    padding-right: 100px;
    padding-left: 100px;
  }

  .modal__title {
    font-size: 30px;
    line-height: 57px;
  }

  .modal__text {
    margin-top: 30px;
    font-size: 17px;
  }

  .modal__size-list a {
    width: 112px;
  }
}
