.production {
  padding-top: 25px;
  padding-bottom: 30px;
  border: 1px solid #ececec;
}

.production__title {
  position: relative;
  margin: 0;
  margin-bottom: 25px;
  padding-right: 35px;
  padding-left: 90px;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;

  &::before {
    position: absolute;
    top: 5%;
    left: 35px;
    content: "";
    width: 32px;
    height: 22px;
    background-image: url("../img/video.svg");
    background-repeat: no-repeat;
  }
}

.production__video {
  width: 100%;
  min-height: 150px;
  background-image: url("../img/video--mobile.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.production__wrapper {
  margin-top: 30px;
  padding-right: 35px;
  padding-left: 35px;
}

.production__text {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

.production__btn {
  width: 100%;
  margin-top: 30px;
  background-color: transparent;
}

@media (min-width: 768px) {
  .production {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0;
    padding-bottom: 45px;
  }

  .production__video {
    min-height: 455px;
    background-image: url("..//img/video--tablet.jpg");
  }

  .production__title {
    order: 1;
    width: 100%;
    margin-top: 38px;
    margin-bottom: 0;
    padding-right: 40px;
    padding-left: 105px;
    font-size: 20px;

    &::before {
      left: 42px;
    }
  }

  .production__wrapper {
    order: 2;
    margin-top: 35px;
    padding-right: 40px;
    padding-left: 40px;
  }

  .production__btn {
    margin-top: 40px;
  }
}

@media (min-width: 1250px) {
  .production {
    position: relative;
    justify-content: flex-end;
    min-height: 457px;
    padding-top: 45px;
    padding-right: 60px;
    padding-left: 760px;
  }

  .production__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 65%;
    min-height: 456px;
    background-image: url("../img/video--desktop.jpg");
  }

  .production__title {
    margin-top: 0;
    margin-left: 0;
    padding-top: 50px;
    padding-right: 0;
    padding-left: 0;

    &::before {
      top: 0;
      left: 0;
    }
  }

  .production__wrapper {
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .production__text {
    font-size: 15px;
    line-height: 30px;
  }

  .production__btn {
    margin-top: 50px;
  }
}
