.approving__content {
  width: 320px;
  padding-top: 35px;
  padding-right: 30px;
  padding-bottom: 45px;
  padding-left: 30px;
  border-top: 1px solid #c6c6c6;
  background-color: #ffffff;
  box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.25)
}

.approving__content > h2 {
  width: 155px;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.approving__content > p {
  margin: 0;
  margin-top: 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  color: #444444;
}

.approving__form > fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.approving__form ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 28px;
  padding: 0;
  list-style: none;
}

.approving__form label {
  & > span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 48px;
    border: 2px solid rgba(68, 68, 68, 0.1);
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    color: #444444;
    cursor: pointer;
  
    &:hover,
    &:focus {
      border-color: rgba(68, 68, 68, 0.3);
    }
  
    &:focus {
      outline: none;
    }
  }

  & > input[type="radio"]:checked + span {
    border-color: #62d1ba;
  }
}

.approving__form-btn {
  width: 100%;
  min-height: 52px;
  margin-top: 30px;
  padding-top: 16px;
  padding-right: 20px;
  padding-bottom: 16px;
  padding-left: 20px;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #63d1bb;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #46c1ae;
  }

  &:focus {
    outline: none;
  }

  &:active {
    background-color: rgba(70, 193, 174, 0.3);
  }
}

@media (min-width: 768px) {
  .approving__content {
    width: 564px;
    padding-top: 45px;
    padding-right: 100px;
    padding-bottom: 45px;
    padding-left: 100px;
    border: 1px solid #c6c6c6;
  }

  .approving__content > h2 {
    width: 100%;
  }

  .approving__form label > span {
    width: 108px;
  }
}

@media (min-width: 1250px) {
  .approving__content > h2 {
    font-size: 30px;
    line-height: 57px;
  }

  .approving__content > p {
    font-size: 17px;
  }
}
