.order {
  padding-top: 30px;
  padding-bottom: 55px;
}

.order__wrapper {
  padding-right: 30px;
  padding-left: 30px;
}

.order__intro {
  margin: 0;
  padding-bottom: 25px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #444444;
}

.order__form > fieldset {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  border: none;
}

.order__form > fieldset:last-of-type {
  padding-bottom: 0;
}

.order__form > fieldset > legend {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 25px;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  color: #63d1bb;

  &::after {
    content: "";
    flex-grow: 1;
    height: 3px;
    transform: scaleY(0.3);
    background-color: #63d1bb;
  }
}

.order__form > fieldset > legend > span {
  min-width: 60px;
  padding-right: 20px;
}

.order__form-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.order__form-list--item-type > li:nth-child(n + 2),
.order__form-list--color > li:nth-child(n + 2),
fieldset > .order__form-wrapper:nth-of-type(n + 2) {
  margin-top: 20px;
}

.order__form-wrapper {
  width: 100%;
  margin: 0;
}

.order__form-required {
  display: block;
  margin-top: 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #444444;
}

.order__form-btn {
  width: 100%;
  margin-top: 30px;
}

@media (min-width: 480px) {
  .order__form-list--item-type {
    display: flex;
    flex-wrap: wrap;
  }

  .order__form-list--item-type > li {
    width: 50%;

    &:nth-child(n + 2) {
      margin-top: 0;
    }
  }

  .order__form-list--color {
    display: flex;
    flex-wrap: wrap;
  }

  .order__form-list--color > li {
    width: 50%;

    &:nth-child(n + 2) {
      margin-top: 0;
    }

    &:nth-child(n + 3) {
      margin-top: 20px;
    }
  }
}

@media (min-width: 768px) {
  .order {
    padding-top: 0;
    padding-bottom: 50px;
  }

  .order__wrapper {
    position: relative;
    padding-right: 50px;
    padding-left: 50px;
  }

  .order__intro {
    padding-bottom: 0;
    font-size: 17px;
    line-height: 30px;
  }

  .order__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .order__form > fieldset {
    position: relative;
    padding-top: 15px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 217px;

    &:nth-child(4) {
      padding-bottom: 0;
    }

    &:nth-child(2)::before,
    &:nth-child(4)::before,
    &:nth-child(5)::before {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      left: 0;
      height: 100%;
      background-color: #f1f1f1;
    }
  }

  .order__form fieldset > legend {
    position: relative;
    top: 75px;
    left: -167px;
    width: auto;

    &::after {
      display: none;
    }
  }

  .order__form-list--item-type > li {
    width: 100%;
    
    &:nth-child(n + 2) {
      margin-top: 25px;
    }
  }

  .order__form-list--color > li:nth-child(n+3) {
    margin-top: 25px;
  }

  .order__form > .order__form-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .order__form-btn {
    order: 1;
    width: 230px;
    margin-top: 55px;
  }

  .order__form-required {
    order: 2;
    margin-top: 65px;
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: 1000px) {
  .order__form-list--item-type > li {
    width: 50%;

    &:nth-child(n+2) {
      margin-top: 0;
    }
  }
}

@media (min-width: 1250px) {
  .order__wrapper {
    max-width: 1250px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 225px;
  }

  .order__form > fieldset {
    padding-right: 0;
    padding-left: 0;
  }

  .order__form > fieldset > legend {
    left: -546px;
    margin-right: auto;
    margin-left: auto;
  }

  .order__form-list,
  .order__form-wrapper {
    max-width: 1250px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 225px;
  }

  .order__form-list--item-type > li {
    width: 100%;

    &:nth-child(n + 2) {
      margin-top: 25px;
    }
  }

  .order__form-list--color > li {
    width: 33.33%;

    &:nth-child(n + 3) {
      margin-top: 0;
    }

    &:nth-child(n + 4) {
      margin-top: 25px;
    }
  }

  .order__form-fieldset > p:nth-child(n + 4) > .input-checkbox {
    margin-top: 0;
  }

  .order__form-fieldset > p:nth-child(n + 5) > .input-checkbox {
    margin-top: 55px;
  }
}
