.reviews {
  padding-top: 55px;
}

.reviews__wrapper {
    position: relative;
    margin: 0 auto;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;

  &::after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    left: 0;
    height: 6px;
    background-image: url(../img/grey-wave.svg);
    background-repeat: no-repeat;
  }
}

.reviews__title {
  margin: 0;
  font-family: "Open Sans";
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.reviews__slider {
  margin: 0;
  margin-top: 30px;
  padding: 0;
  padding-bottom: 85px;;
  list-style: none;
}

.reviews__slider blockquote {
  margin: 0;
}

.reviews__slider p {
  margin: 0;
  font-family: "Open Sans";
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
}

.reviews__slider cite {
  display: block;
  margin-top: 25px;
  font-family: "Open Sans";
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  color: #000000;
}

.reviews__slider cite > span {
  display: block;
  font-family: "Open Sans";
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
}

.reviews__slider .slick-arrow {
  position: absolute;
  content: "";
  bottom: 0;
  width: 50%;
  height: 52px;
  padding: 0;
  border: none;
  font-size: 0;
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px 26px;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.reviews__slider .slick-prev {
  left: 0;
  border-top: 1px solid #ececec;
  border-right: none;
  border-bottom: 1px solid #ececec;
  border-left: 1px solid #ececec;
  background-image: url("../img/left-arrow.svg");
}

.reviews__slider .slick-next {
  right: 0;
  border-top: 1px solid #ececec;
  border-right: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  border-left: 1px solid #ececec;
  background-image: url("../img/right-arrow.svg");
}

.reviews__btn {
  width: 100%;
  margin-top: 38px;
}

@media (min-width: 768px) {
  .reviews {
    padding-top: 0;
  }

  .reviews__wrapper {
    @include row-flex();

    justify-content: space-between;
    padding-top: 80px;
    padding-right: 50px;
    padding-bottom: 135px;
    padding-left: 50px;
    background-image: url("../img/reviews-bg.jpg");
    background-repeat: no-repeat;

    &::after {
      height: 15px;
    }
  }

  .reviews__title {
    order: -2;
    font-size: 43px;
    line-height: 50px;
  }

  .reviews__btn {
    order: -1;
    margin-top: 0;
    width: 175px;
  }

  .reviews__slider-wrapper {
    position: relative;
    width: 100%;
  }

  .reviews__slider {
    margin-top: 50px;
    padding-bottom: 0;
  }

  .reviews__slider p {
    font-size: 17px;
  }

  .reviews__slider cite {
    margin-top: 65px;
  }

  .reviews__slider .slick-arrow {
    width: 84px;
  }

  .reviews__slider .slick-prev,
  .reviews__slider .slick-next {
    border: none;
    z-index: 2;
  }

  .reviews__slider .slick-prev {
    right: 84px;
    left: unset;
  }
}

@media (min-width: 1250px) {
  .reviews {
    padding-right: 0;
  }

  .reviews__wrapper {
    max-width: 1250px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 100px;
    padding-bottom: 190px;
    padding-left: 275px;

    &::after {
      height: 25px;
    }
  }

  .reviews__title {
    font-size: 53px;
    line-height: 57px;
  }

  .reviews__slider p {
    padding-right: 10%;
  }

  .reviews__slider cite {
    margin-top: 45px;
  }
}
