.developer {
  display: block;
  padding-top: 22px;
  padding-bottom: 22px;
  font-family: "Open Sans", sans-serif;
  font-size: 19px;
  font-weight: 700;
  text-align: center;
  color: #000000;

  &:hover,
  &:focus {
    color: #46c1ae;
  }

  &:focus {
    outline: none;
  }

  &:active {
    color: #46c1ae;
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .developer {
    padding: 0;
  }
}
